black==23.12.1
chainlit==1.0.200
chromadb==0.4.22
isort==5.13.2
langchain==0.1.1
langchain-community==0.0.13
langchain-core==0.1.13
langchain-openai==0.0.3
langchainhub==0.1.15
openai==1.9.0
pandas==2.2.0
pydantic==2.5.3
pydantic-settings==2.1.0
pypdf==4.0.0
PyPDF2==3.0.1
pytest==7.4.4
sentence-transformers==2.2.2
reportlab==4.1.0